<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!pip install pandas
#!pip install requests

## Imports

Import any additional libraries you may need here.

In [2]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) and create a free account.
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [4]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=2bbcaa9e6c006b9857337b3b54d5bcca"  #Make sure to change ******* to your API key.
response = requests.get(url)
response.json()

{'success': True,
 'timestamp': 1645635662,
 'base': 'EUR',
 'date': '2022-02-23',
 'rates': {'AED': 4.156383,
  'AFN': 104.104154,
  'ALL': 121.102145,
  'AMD': 541.77448,
  'ANG': 2.039221,
  'AOA': 565.05929,
  'ARS': 121.455841,
  'AUD': 1.561976,
  'AWG': 2.037116,
  'AZN': 1.926738,
  'BAM': 1.951353,
  'BBD': 2.284558,
  'BDT': 97.273349,
  'BGN': 1.952736,
  'BHD': 0.426579,
  'BIF': 2284.647373,
  'BMD': 1.131574,
  'BND': 1.521908,
  'BOB': 7.778753,
  'BRL': 5.678011,
  'BSD': 1.131504,
  'BTC': 2.9261495e-05,
  'BTN': 84.390439,
  'BWP': 12.997878,
  'BYN': 2.991836,
  'BYR': 22178.845229,
  'BZD': 2.280667,
  'CAD': 1.43896,
  'CDF': 2280.688327,
  'CHF': 1.038813,
  'CLF': 0.032433,
  'CLP': 894.915953,
  'CNY': 7.144534,
  'COP': 4427.248296,
  'CRC': 723.619739,
  'CUC': 1.131574,
  'CUP': 29.986704,
  'CVE': 110.012589,
  'CZK': 24.61289,
  'DJF': 201.103943,
  'DKK': 7.439196,
  'DOP': 63.270832,
  'DZD': 159.137819,
  'EGP': 17.786755,
  'ERN': 16.973628,
  'ETB': 57.984861,
  'EUR': 1,
  'FJD': 2.40618,
  'FKP': 0.823695,
  'GBP': 0.83479,
  'GEL': 3.366451,
  'GGP': 0.823695,
  'GHS': 7.580807,
  'GIP': 0.823695,
  'GMD': 60.310124,
  'GNF': 10165.077417,
  'GTQ': 8.729172,
  'GYD': 236.607133,
  'HKD': 8.832403,
  'HNL': 27.861076,
  'HRK': 7.5347,
  'HTG': 117.744848,
  'HUF': 359.864156,
  'IDR': 16239.837053,
  'ILS': 3.658174,
  'IMP': 0.823695,
  'INR': 84.4266,
  'IQD': 1651.361145,
  'IRR': 47837.279639,
  'ISK': 141.209426,
  'JEP': 0.823695,
  'JMD': 175.942321,
  'JOD': 0.802315,
  'JPY': 130.270732,
  'KES': 128.761856,
  'KGS': 95.951243,
  'KHR': 4600.544588,
  'KMF': 491.583891,
  'KPW': 1018.41654,
  'KRW': 1349.323164,
  'KWD': 0.342244,
  'KYD': 0.942937,
  'KZT': 495.293607,
  'LAK': 12949.745002,
  'LBP': 1710.706952,
  'LKR': 229.12051,
  'LRD': 174.403848,
  'LSL': 17.029907,
  'LTL': 3.341244,
  'LVL': 0.684478,
  'LYD': 5.194382,
  'MAD': 10.661139,
  'MDL': 20.33235,
  'MGA': 4508.864936,
  'MKD': 61.42413,
  'MMK': 2011.904021,
  'MNT': 3234.978261,
  'MOP': 9.095232,
  'MRO': 403.971629,
  'MUR': 49.789556,
  'MVR': 17.493914,
  'MWK': 911.819936,
  'MXN': 22.910945,
  'MYR': 4.736199,
  'MZN': 72.22803,
  'NAD': 17.030482,
  'NGN': 470.68939,
  'NIO': 40.115959,
  'NOK': 10.045769,
  'NPR': 135.028194,
  'NZD': 1.66807,
  'OMR': 0.435594,
  'PAB': 1.131504,
  'PEN': 4.224176,
  'PGK': 4.007306,
  'PHP': 57.827375,
  'PKR': 199.702506,
  'PLN': 4.575975,
  'PYG': 7842.705827,
  'QAR': 4.120022,
  'RON': 4.947579,
  'RSD': 117.429082,
  'RUB': 91.38533,
  'RWF': 1176.819924,
  'SAR': 4.245652,
  'SBD': 9.144068,
  'SCR': 14.923202,
  'SDG': 502.987449,
  'SEK': 10.597957,
  'SGD': 1.522663,
  'SHP': 1.558632,
  'SLL': 13083.817357,
  'SOS': 663.10193,
  'SRD': 23.352289,
  'STD': 23421.2917,
  'SVC': 9.900285,
  'SYP': 2842.512971,
  'SZL': 17.014363,
  'THB': 36.550921,
  'TJS': 12.768504,
  'TMT': 3.960508,
  'TND': 31.531311,
  'TOP': 2.585083,
  'TRY': 15.623073,
  'TTD': 7.681975,
  'TWD': 31.543526,
  'TZS': 2618.461646,
  'UAH': 33.225568,
  'UGX': 3974.780331,
  'USD': 1.131574,
  'UYU': 48.511696,
  'UZS': 12265.328635,
  'VEF': 241964663597.9211,
  'VND': 25830.999463,
  'VUV': 128.627587,
  'WST': 2.956059,
  'XAF': 654.455428,
  'XAG': 0.050251,
  'XAU': 0.000626,
  'XCD': 3.058135,
  'XDR': 0.806949,
  'XOF': 654.455428,
  'XPF': 119.494554,
  'YER': 283.237917,
  'ZAR': 17.083358,
  'ZMK': 10185.490124,
  'ZMW': 19.970281,
  'ZWL': 364.366281}}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [5]:
# Turn the data into a dataframe
dataframe = pd.DataFrame(response.json())
dataframe

     success   timestamp base        date         rates
AED     True  1645635662  EUR  2022-02-23      4.156383
AFN     True  1645635662  EUR  2022-02-23    104.104154
ALL     True  1645635662  EUR  2022-02-23    121.102145
AMD     True  1645635662  EUR  2022-02-23    541.774480
ANG     True  1645635662  EUR  2022-02-23      2.039221
..       ...         ...  ...         ...           ...
YER     True  1645635662  EUR  2022-02-23    283.237917
ZAR     True  1645635662  EUR  2022-02-23     17.083358
ZMK     True  1645635662  EUR  2022-02-23  10185.490124
ZMW     True  1645635662  EUR  2022-02-23     19.970281
ZWL     True  1645635662  EUR  2022-02-23    364.366281

[168 rows x 5 columns]

In [6]:
# Drop unnescessary columns
dataframe.drop(columns=["success", "timestamp", "base", "date"], inplace=True)
dataframe

            rates
AED      4.156383
AFN    104.104154
ALL    121.102145
AMD    541.774480
ANG      2.039221
..            ...
YER    283.237917
ZAR     17.083358
ZMK  10185.490124
ZMW     19.970281
ZWL    364.366281

[168 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [ ]:
# Save the Dataframe

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).